@mixin clearfix {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

@mixin table(){
    font-size: 14px;
    padding: 0 8px;
    text-align: left;
    font-weight: 400;          
    background: #fafafa;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;          
}

@mixin table-info(){
  padding: 8px;
  text-align: left;
  font-weight: 400;          
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;          
}