.default-container
  %header.header
    = render 'header'

  %main.main-container
    = render 'main'

  %footer.footer
    .lower-banner
      .lower-banner__contents
        .lower-banner__contents__left        
          %h2.lower-banner__contents__left__upper-text
            スマホでかんたんフリマアプリ
          %p.lower-banner__contents__left__lower-text
            今すぐ無料ダウンロード！          
          %ul.lower-banner__contents__left__icon
            %li.lower-banner__contents__left__icon__mercari
            %li.lower-banner__contents__left__icon__app
            %li.lower-banner__contents__left__icon__google

        .lower-banner__contents__right
  -#         =img
  -#   %footer.global-footer
  -#     .footer-clearfix
  -#       .about-mercari
  -#         %h2.about-mercari__title
  -#         %ul
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#           %li.about-mercari__twitter
  -#           %li.about-mercari__facebook
  -#       .help-and-guide
  -#         %h2.help-and-guide__title
  -#         %ul
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#           %li
  -#       .privacy-and-rule
  -#         %h2.privacy-and-rule__title
  -#         .privacy-and-rule__privacy
  -#           %ul
  -#             %li
  -#             %li
  -#             %li
  -#             %li          
  -#         .privacy-and-rule__rule
  -#           %ul
  -#             %li
  -#             %li
  -#             %li
  -#             %li          

  -#       .language
  -#         %h2.language__title
  -#         %ul
  -#           %li
  -#           %li
  -#       .footer-bottom
  -#         %h2.footer-bottom__mercari
  -#         %h2.footer-bottom__copy-light
  -#   .sell-button
  -#     出品
  -#     .i class
  -#     /faresomeアイコンをつける。  


            




  -#               -# link_to : カテゴリーから探す