.container
  = render 'side_bar'

  .profile
    %h2.profile__head
      プロフィール
    %form{action: "/", method: "post"}
      .profile__namebar
        %figure.icon
          = image_tag("profile-icon.png", class: "person")
        %input.input-default{type: "text", name: "nickname", placeholder: "例）AYA☆セール中"}
      .profile__content
        %textarea.textarea-default{name: "introduction", placeholder:"例）こんにちは。ご覧いただきありがとうございます！可愛いものやきれいめオフィスカジュアル中心に出品しています。"}
        %button.btn-red{type: "submit"}
          変更する
