.single-container
  .single-header
    = link_to image_tag("logo.svg"), "/"
    .signup-container.signup-container__user
      %header.signup-header
        .signup-header__progress
          .progress
            .progress__node
              .progress__title#progress--first 会員情報
              .progress__dot
                .fas.fa-circle.circle-first.red
                .progress__line#first-line.progress-twe.red
            .progress__node
              .progress__title#progress--second.progress-twe.red 電話番号認証
              .progress__dot
                .fas.fa-circle#circle-second.progress-twe.red
                .progress__line#second-line.progress-three
            .progress__node
              .progress__title#progress--thired.progress-three お届け先住所入力
              .progress__dot
                .fas.fa-circle#circle-thired.progress-three
                .progress__line#thired-line.progress-four
            .progress__node
              .progress__title#progress--fourth.progress-four 支払い方法
              .progress__dot
                .fas.fa-circle#circle-fourth.progress-four
                .progress__line#fourth-line.progress-five
            .progress__node
              .progress__title#last-title.progress-five 完了
              .progress__dot
                .fas.fa-circle.circle-last.progress-five
  .single-main
    .single-main-container
      %h2.single-main-container__head 電話番号の確認
      .right-continer__inner
        .form-groups
          .form-group__first-font
            %label{for: "phone"} 携帯電話の番号
            %input.input-default{placeholder: "携帯電話の番号を入力"}
          %p.font-size-small.space-message
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

          %p.font-size-small.space-message
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-group.text-right
            = link_to "電話番号の確認が必要な理由","",id: "font-color-blue"
            %i.fa.fa-chevron-right#font-color-blue
  = render 'layouts/single-footer'