.aside {
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?45965488");
  background-size: cover;
  &__banner {
    width: 750px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    &__inner {
      flex: 1;

      &__icon {
        display: flex;
        margin: 20px 0 0;
        img {
          height: 68px;
        }

        &__app {
          margin-left: 24px;
          display: flex;
          align-items: center;

          a {
            display: block;
          }

          img {
            vertical-align: middle;
            margin-right: 16px;
            height: 40px;
          }
        }


      }

      h2 {
        color: white;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        color: white;
        font-size: 35px;
      }
    }

    &__image{
      box-sizing: border-box;
      height: 260px;
    }
  }
}
