.bread-crumb {
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 #00000029;
  background-color: #fff;
  width: 100%;
  height: 48px;
  .breadcrumbs {
    padding: 16px;
    background-color: #fff;
    width: 1020px;
    height: 15px;
    margin: 0 170px;
    a {
      font-size: 14px;
      line-height: 1.2;
      padding-left: 10px; 
    }
    a:hover {
      text-decoration: underline;
      color: gray;
    }
    .current {
      background-color: #fff;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2;
      padding-left: 1px; 
    }
  }
}