.purchase-items__selling {
  width: 700px;
  height: 50px;

  &__head {
    height: 72px;
    padding: 0 16px;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 72px;
    text-align: left;
    font-weight: bold;
    box-sizing: border-box;
  }
  &__tabs {
    height: 74px;
    list-style: none;
    background-color: #eee;
    display: flex;

    &__text1  {
      width: 233px;
      border-top: 2px solid #ea352d;
      box-sizing: border-box;
      background-color: #fff;

      &:hover{
        opacity: 0.7;
      }

      a{
        font-size: 16px;
        font-weight: bold;
        display: block;
        width: 233px;
        height: 74px;
        line-height: 74px;
      }
    }
    &__text2  {
      width: 233px;
      border-top: 2px solid #ea352d;
      box-sizing: border-box;

      &:hover{
        opacity: 0.7;
      }

      a{
        font-size: 16px;
        font-weight: bold;
        display: block;
        width: 233px;
        height: 74px;
        line-height: 74px;
      }
    }
    &__text3  {
      width: 233px;
      border-top: 2px solid #ea352d;
      box-sizing: border-box;

      &:hover{
        opacity: 0.7;
      }

      a{
        font-size: 16px;
        font-weight: bold;
        display: block;
        width: 233px;
        height: 74px;
        line-height: 74px;
      }
    }
  }
}

.my-selling__main__container {
  background-color: white;
  width: 700px;
  display: flex;

  .my-selling-list__wrap{
    height: 80px;
    width: 700px;
    border-bottom: 1px solid #eee;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    display: flex;

    &:hover{
      background-color: rgb(245, 245, 245);
    }

    a{
      // display: block;
      width: 660px;
      height: 48px;
      position: absolute;
      // top: 0;
      // left: 0;
      display: table-cell;
      vertical-align: middle;
    }

    &__image{
      .picture{
        width: 48px;
        height: 48px;
        float:left;
      }
    }
    &__detail{
      width: 300px;
      // margin: 0 40px 0 23px;
      display: block;
      text-align: left;

      &__name{
        font-size: 14px;
        font-weight: 50;
        float: left;
        padding-left: 10px;
      }
      &__icon{
        display: flex;
        padding-top: 3px;
        &__1{
          display: flex;
          &__heart{
            .fa-heart{
              margin-top: 3px;
              width: 16px;
              height: 16px;
              font-size: 14px;
              color: #a9a9a9;
            }
            &__display{
              color: #808080;
              margin-left: 2px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
        &__2{
          display: flex;
          &__comment{
            .fa-comment-alt{
              margin-top: 3px;
              width: 16px;
              height: 16px;
              font-size: 14px;
              color: #a9a9a9;
              margin-left: 7px;
            }
            &__display{
              color: #808080;
              margin-left: 2px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
        
        .selling__bar{
          height: 20px;
          width: 70px;
          padding: 0 auto;
          font-size: 12px;
          // padding-left: 10px; 
          color: #fff;
          background-color: #0099e8;
          font-weight: bold;
          margin-left: 10px;
          border-radius: 3px;
          text-align: center;
        }

        .stoppublishing__bar{
          height: 20px;
          width: 70px;
          padding: 0 auto;
          font-size: 12px;
          // padding-left: 10px; 
          color: #fff;
          background-color: #ea352d;
          font-weight: bold;
          margin-left: 10px;
          border-radius: 3px;
          text-align: center;
        }
      }
    }
    &__arrow{
      .fa-chevron-right{
        width: 8.59px;
        height: 14px;
        float: right;
        padding-top: 20px;
      }
    }
  }
}

.purchase-items__selling__container{
  &__list{
    &__text{
      padding: 160px 0 60px;
      background-image: url('https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?69765993');
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
}

.purchase-items__selling__container{
  &__list{
    &__text{
      padding: 160px 250px 60px;
      background-image: url('https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?69765993');
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 78px 85px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
}