%ul.category-menu__level1
  %li
    = link_to 'レディス', '#'
    %ul.category-menu__level1__level2
      %li
        = link_to 'トップス', '#'
        %ul.category-menu__level1__level2__level3
          %li
            =link_to 'Tシャツ/カットソー(半袖/袖なし)', '#'