- @items.each do |item|
  = link_to root_path do
    .search-result__items__box 
      .search-result__items__box__image
        = image_tag("ladies.jpg", size: "160x160")
      .search-result__items__box__price
        = number_to_currency(item.price, unit: "¥") 
      .search-result__items__box__text
        = item.name