.buy-all-container
  .head-container
    .mercari_logo
      = render "layouts/single-header"
  .head-bar-container
    .head-bar
      購入内容の確認
  .buy-item-container
    .item-photo
      = image_tag("m89940654731_1.jpg", class:"item-photo") 
    .item-name
      VIS LEE コラボホワイトデニム M
  .buy-item-price-container
    .buy-item-price
      ¥6,200
    .buy-item-tax
      送料込み
  .pay-price-container
    .pay-price-title
      支払い金額
    .pay-price
      ¥ 6,200
  = form_tag(action: :purchase, method: :post) do
    %script.payjp-button{"data-key": ENV['PAYJP_TEST_PUBLIC_KEY'], src: "https://checkout.pay.jp", type: "text/javascript", "data-text": "購入する"}
  .shipping-address-container
    .shipping-address-head
      配送先
    .shipping-address
      〒111-1111
      神奈川県横浜市中央区1-1-1
    .shipping-name
      山田 花子
    .change-button
      .p 変更する >
  .method-of-payment-container
    .method-of-payment-head
      支払い方法
    .method-of-payment
    .change-button
      .p 変更する >
  
  = render "layouts/single-footer"