.buy-all-container{
  background-color: #EEEEEE;
  .head-container{
    background-color: #EEEEEE;
    width: 100%;
    height: 100px;
    .mercari_logo{
      width: 150px;
      margin: 0 auto;
      padding-top: 25px;
    }
  }
  .head-bar-container{
    background-color: #fff;
    color: rgb(51, 51, 51);
    font-size: 2.5ex;
    height: 50px;
    width: 600px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    .head-bar{
      height:50px;
      width: 160px;
      padding-top: 17px;
      margin: 0 auto;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
  }
  .buy-item-container{
    background-color: #fff;
    color: rgb(51, 51, 51);
    height: 150px;
    width: 600px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    
  }
    .item-photo{
      width: 64px;
      margin-left: 75px;
      object-fit: contain;
    }
    .item-name{
      height:20px;
      width:190px;
      font-size: 16px;
      margin-left: 90px;
      padding-top: 10px;
    }
  
  .buy-item-price-container{
    display: flex;
    background-color: #fff;
    color: rgb(51, 51, 51);
    height: 100px;
    width: 600px;
    margin: 0 auto;
    vertical-align: bottom;
    line-height: 0;
    .buy-item-price{
      font-size: 23px;
      padding-top:20px;
      padding-right: 15px;
      font-weight: 600;
      margin-left: 225px;
    }
    .buy-item-tax{
      padding-top:23px;
      font-size: 13px;
    }
  }
  .pay-price-container{
    background-color: #fff;
    color: rgb(51, 51, 51);
    width: 600px;
    margin: 0 auto;
    line-height: 0;
    padding-bottom: 30px;
    .pay-price-inner{
      display: flex;
      width: 100%;
      .pay-price-title{
        width: 50%;
        height: 30px;
        font-size: 2ex;
        text-align: center;
        margin-left:80px;
        font-weight: 900;
      }
      .pay-price{
        width: 50%;
        height: 30px;
        text-align: center;
        margin-right:80px;
        font-size: 25px;
        font-weight: 900;
      } 
    }
    .pay-jp-btn {
      width: 50%;
      margin: 0 auto;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      color: white;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      display: block;
      text-decoration: none;
      position: relative;

      .payjp_btn{
        font-size: 14px;
        display: block;
        width: 100%;
        color: white;
      }
    }
  }
  form {
    background-color: #fff;
    height: 50px;
    width: 600px;
    margin: 0 auto;
    #payjp_checkout_box {
      display: block;
      margin: 0 auto;
      background-color: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 500;
      transition: all ease-out .3s;
      font-size: 15px;
      text-decoration: none;
      padding-top: 10px;
      border-style: solid;
      border-width: 0;
      height: 35px;
      width: 300px;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      position: relative;
      input{
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
      }
    }
  }
  .shipping-address-container{
    background-color: #fff;
    height: 150px;
    width: 600px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    .shipping-address-head{
      font-size: 15px;
      padding-top: 20px;
      padding-left: 150px;
      font-weight: 500;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .shipping-address{
      font-size: 13px;
      padding-left: 150px;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .shipping-name{
      font-size: 13px;
      padding-left: 150px;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .change-button{
      float: right;
      color:#0099e8;
      font-size: 13px;
      padding-right: 150px;
      .p:hover{
        color: #5BB7E5;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .method-of-payment-container{
    background-color: #fff;
    height: 150px;
    width: 600px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    .method-of-payment-head{
      font-size: 15px;
      padding-top: 10px;
      padding-left: 150px;
      // padding-bottom: 50px;
      font-weight: 500;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .method-of-payment{
      font-size: 15px;
      // padding-top: 20px;
      padding-left: 150px;
      font-weight: 500;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .change-button{
      float: right;
      color:#0099e8;
      font-size: 13px;
      padding-right: 150px;
      .p:hover{
        color: #5BB7E5;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .footer-container{
    background-color: #EEEEEE;
    width: 100%;
    height: 150px;
  }
}

