.logout-container{
  width: 700px;
  height: 179px;
  background-color: $white;

  &__content{
    height: 179px;
    padding: 64px;
    box-sizing: border-box;

    &__btn-block-size{
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      line-height: 48px;
      background: #ea352d;
      border: 1px solid #ea352d;
      text-align: center;
    }

    .btn {
      color: #fff;
      font-size: 14px;
      border: 1px solid transparent;
      transition: all ease-out .3s;
      cursor: pointer;
    }
  }
}
