.main_container {
  background-color: rgb(245, 245, 245);
  .main-contents {
    min-height: 2400px;
    width: 100%;
    &__conteiner {
      min-height: 2400px;
      width: 700px;
      margin: 0 auto;
      background-color: white;
      &__inner {
        height: 100%;
        width: 100%;
        .header-text {
          padding: 32px 16px;
          font-size: 22px;
          text-align: center;
          font-weight: bold;
          border-bottom: solid 1px rgb(245, 245, 245);
        }
        .sell-form {
          width: 700px;
          .sell-form_image-box {
            min-height: 220px;
            width: 620px;
            padding: 40px;
            .sell-upload_text-top {
              font-size: 16px;
              font-weight: bold;
            }
            .sell-upload_text-bottom {
              font-size: 13px;
              margin-top: 3px;
            }
            .sell-box_container {
              min-height: 162px;
              width: 620px;
              margin-top: 8px;
              position: relative;

              &__drop-box {
                text-align: center;

                &__text {
                  font-size: 13px;
                  text-align: center;
                  font-size: 14px;
                  padding-top: 45px;
                  box-sizing: border-box;

                  &__second{
                    font-size: 13px;
                    text-align: center;
                    font-size: 14px;
                  }
                }
              }
              &__drop-box--next {
                height: 164px;
                text-align: center;
                display: none;
              }
            }
          }
        }
        #file-send-btn{
          height: 162px;
          display: none;
        }
        #file-drop-zone{
          width: 620px;
          height: 162px;
          background-color: whitesmoke;
          border-style: dashed;
          border-width: 1px;
          border-color: #d1d1d1;
          display: block;
          cursor: pointer;
          order: 2;
          
          .fa-camera{
            width: 20px;
            height: 20px;
            margin: auto;
            line-height: 160px;
          }
        }

        #file-drop-zone--next{
          width: 620px;
          height: 162px;
          background-color: whitesmoke;
          border-style: dashed;
          border-width: 1px;
          border-color: #d1d1d1;
          display: block;
          cursor: pointer;
          order: 2;
          .fa-camera{
            width: 20px;
            height: 20px;
            margin: auto;
            line-height: 160px;
          }
        }
        .sell-content {
          height: 320px;
          width: 700px;
          margin-top: 40px;
          border-bottom: solid 1px rgb(245, 245, 245);
          .form_item-name {
            height: 70px;
            width: 620px;
            margin: 0 auto;
            label {
              height: 14px;
              width: 85px;
              font-size: 14px;
              font-weight: 900;
            }
            .input-name {
              height: 50px;
              width: 620px;
              border: solid 1px;
              border-radius: 5px;
              border-color: rgb(209, 209, 209);
            }
          }
          .form_item-intro {
            height: 164px;
            width: 620px;
            margin: 40px 0 0 40px;
            word-wrap: break-word;
            label {
              height: 14px;
              width: 85px;
              font-size: 14px;
              font-weight: 900;
            }
            .input-intro {
              height: 142px;
              width: 620px;
              border: solid 1px;
              border-radius: 5px;
              border-color: rgb(209, 209, 209);
              padding: 10px 16px 8px 10px;
            }
          }
        }
        .sell-content-detail {
          min-height: 299px;
          width: 620px;
          padding: 40px;
          border-bottom: solid 1px rgb(245, 245, 245);
          display: flex;
          justify-content: space-between;
          h3 {
            width: 70px;
            font-size: 14px;
            font-weight: 900;
            color: rgb(136, 136, 136);
          }
          .sell-form-box {
            min-height: 180px;
            width:400px;
           .form-area_bottom {
             margin-top: 30px; 
           }
            .form-area {
              label {
                font-size: 14px;
                font-weight: 900;
              }
              div {
                .select-wrap-category {
                  margin: 6px 0 0;
                }
                .select-wrap-brand {
                  margin: 6px 0 0;
                }
                .select-wrap-condition {
                  margin: 6px 0 0;
                }
                #item_category_attributes_id{
                  margin: 6px 0 0;
                }
                #item_category_attributes_grandchild_id{
                  margin: 15px 0 0;
                }

                  .select-place {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    display: inline-block;
                    height: 48px;
                    width: 100%;
                    position: relative;
                    font-size: 16px;
                    padding: 0 0px 0 7px;
                    border-radius: 4px;
                    border-color: rgb(206, 206, 206);
                    background-color: white;
                    z-index: 2;
                  }
                  .fa-chevron-down {
                    display: inline-block;
                    position: relative;
                    left: 370px;
                    top: -37px;
                    z-index: 2;
                    color: rgb(136, 136, 136);
                  }
                }
              }
            }
          }
          .sell-content-shipping-method {
          min-height: 409px;
          width: 617px;
          padding: 40px;
          border-bottom: solid 1px rgb(245, 245, 245);
          display: flex;
          justify-content: space-between;
          h3 {
            font-size: 14px;
            font-weight: 900;
            color: rgb(136, 136, 136);
          }
          .form-area_bottom {
            margin-top: 30px; 
          }
          .form-help {
            color: $blue;
            font-weight: 100;
            margin-right: 115px;
          }
          .sell-form-box {
            min-height: 180px;
            width:400px;
            .form-area {
              label {
                font-size: 14px;
                font-weight: 900;
              }
              div {
                .select-wrap-delivery_cost {
                  margin: 6px 0 0;
                }
                .select-wrap-delivery_method {
                  margin: 6px 0 0;
                }
                .select-wrap-delivery_prefecture {
                  margin: 6px 0 0;
                }
                .select-wrap-days_to_ship {
                  margin: 6px 0 0;
                }
                .select-place {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  display: inline-block;
                  height: 48px;
                  width: 100%;
                  position: relative;
                  font-size: 16px;
                  padding: 0 0px 0 7px;
                  border-radius: 4px;
                  border-color: rgb(206, 206, 206);
                  background-color: white;
                }
                .fa-chevron-down {
                  display: inline-block;
                  position: relative;
                  left: 370px;
                  top: -37px;
                  z-index: 2;
                  color: rgb(136, 136, 136);
                }                
              } 
            }
          }
        }
      }
    }
  }
}
.contents-price {
  height: 247px;
  width: 617px;
  padding: 40px;
  border-bottom: solid 1px rgb(245, 245, 245);
  h3 {
    font-size: 14px;
    font-weight: 600;
    float: left;
    color: rgb(136, 136, 136);
  }
  .form-help {
    display: inline;
    color: $blue;
    font-weight: 100;
  }
  .sell-price_box {
    width: 400px;
    height: 218px;
    margin: 0;
    float: right;
    .sell-price_form {
      width: 400px;
      height: 218px;
      .price_form {
        height: 48px;
        width: 400px;
        padding: 0 0 24px;
        border-bottom: solid 1px rgb(209, 209, 209);
        .price_form-area {
          height: 48px;
          width: 400px;
          .left-text {
            width: 50%;
            line-height: 48px;
            font-weight: 600; 
            font-size: 14px;
            float: left;
          }
          .right-price_input {
            width: 50%;
            float: right;
            text-align: right;
            font-size: 12px;
            div {
              width: 80%;
              height: 48px;
              padding-left: 5%;
              display: inline-block;
              .price_input {
                text-align: right;
                height: 48px;
                width: 160px;
                font-size: 14px;
                padding: 10px 16px 8px;
                border: solid 1px;
                border-radius: 4px;
                border-color: rgb(206, 206, 206);
                resize: none;
              }
            }
          }
        }
      }
      .price_fee {
        height: 14px;
        width: 400px;
        padding: 24px 0;
        font-size: 14px;
        border-bottom: solid 1px rgb(209, 209, 209);
        .left-text {
          float: left;
        }
        .right-price {
          float: right;
        }
      }
      .profit {
        height: 34px;
        width: 400px;
        padding: 24px 0;
        font-weight: 600;
        .left-text {
          float: left;
        }
        .right-price-maney {
          float: right;
        }
      }
    }
  }
}

.sell_button-box {
  height: 248px;
  width: 620px;
  padding: 40px;
  div {
    height: 84px;
    width: 620px;
    p {
      font-size: 14px;

      .notes__link{
        color: $blue;
      }
    }
  }
  .btn-sell {
    margin: 40px 0 0;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
  }
  .btn-red {
    height: 50px;
    width: 620px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  .btn-gray { 
    height: 50px;
    width: 277px;
    line-height: 48px;
    margin: 24px auto 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
}

input:focus{
  outline: 0;
  border: 1px solid $blue;
}

textarea:focus{
  outline: 0;
  border: 1px solid $blue;
}

#preview{
  display: flex;

  ul{
    width : 112.4px;
    height : 162px;
    margin: 0 12px 5px 0;
    background-color: rgb(245, 245, 245);

    #image_display_container{

      .preview{
        width : 112px;
        height : 114px;
        object-fit: contain;
        order: 1;
      }
      #remove_edit_container{
        display: flex;
        font-size: 14px;
        color: $blue;

        .image-remove-btn{
          width: 56px;
          height: 48px;       
          cursor: pointer;
        }
        .image-edit-btn{
          width: 56px;
          height: 48px;
          cursor: pointer;
        }
      }
    }
  }
}

#preview--next{
  display: flex;

  #file-send-btn--next{
    display: none;
  }

  ul{
    width : 112.4px;
    height : 162px;
    margin-right: 12px;
    background-color: rgb(245, 245, 245);

    #image_display_container{

      .preview{
        width : 112px;
        height : 114px;
        object-fit: contain;
        background-color: rgb(245, 245, 245);
        order: 1;
      }
      #remove_edit_container{
        display: flex;
        color: $blue;

        .image-remove-btn{
          width: 56px;
          height: 48px;       
          font-size: 12px;
          cursor: pointer;
        }
        .image-edit-btn{
          width: 56px;
          height: 48px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
}

#overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $black;
  display: none;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease-out .3s;

  #modalwindow{
    width: 600px;
    height: 611px;
    padding: 0 0 40px;
    margin: 24px auto;
    box-sizing: border-box;
    background: $white;
    color: $black;
    font-weight: bold;
    font-size: 12px;

    

    .item_image_change_wrap{
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      &__text{
        margin: 12px 0 0 ;
        font-size: 18px;
      }
      &__change-btn{
        font-size: 14px;
        width: 153px;
        height: 40px;
        padding: 12px 16px;
        box-sizing: border-box;
        display: flex;
        background-color: rgb(245, 245, 245);
        opacity: 0.7;
        cursor: pointer;
        .fa-camera{
          font-size: 16px;
        }
        .file-send-btn--edit{
          width: 153px;
          height: 40px;
          padding: 12px 16px;
          display: none;
        }
      }
    }

    .file-drop-zone-edit-wrap{
      width: 380px;
      height: 425px;
      margin: 0 auto;

      #file-drop-zone--edit{
        width: 380px;
        height: 380px;
        background-color: whitesmoke;
        border-style: dashed;
        border-width: 1px;
        border-color: #d1d1d1;
        display: block;
        cursor: pointer;

        .preview--edit{
          width: 380px;
          height: 380px;
          object-fit: contain;

        }
      }

      .file-drop-zone-edit-wrap__size-change{
        width: 300px;
        margin: 16px auto 0;
        padding: 8px 0 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__small-icon{
          .fa-camera{
            font-size: 16px;
          }
        }

        &__bar{
        }

        &__big-icon{
          .fa-camera{
            font-size: 24px;
          }  
        }
      }
    }
    .item_image_change_ok_btn{
      width: 380px;
      padding: 0 16px;
      font-size: 14px;
      margin: 24px auto;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;

      #image-cancel-btn{
        width: 157px;
        height: 50px;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        line-height: 48px;
      }
      #image-comformation-btn{
        width: 157px;
        height: 50px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        line-height: 48px;
      }
    }
  }
}