.bread-crumbs
  %ul
    %li
      = link_to "メルカリ"
      %i.fas.fa-chevron-right
    %li
      = link_to "マイページ"
      %i.fas.fa-chevron-right
    %li.bread-crumbs--text
      プロフィール

    -# %li.bread-crumbs--text　あとで必要なので、残す。
    -#   ログアウト
